/* hide button */
.btn-hide{
	display: none;
}
/* end of hide  button */

/* hide product */
.hide-product{
	display: none;
}
/*  end of hide product */
.header-section{
    max-width: 520px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.2rem;
	img.logo{
	    width: 100% !important;
	}
	a{
	    white-space: nowrap;
	    font-size: 16px;
	}
	@media (max-width: 768px){
		max-width: 100%;
	}
}
.main-content{
	position: relative;
	.contentLeft{
		max-width: 550px;
		padding: 0px;
		.body-text {
		    font-size: 1.375rem;
	        padding: 0 10px;
		}
		.my-6{
		    margin: 0rem 0 5rem;
		}
		.intro-text{
		    font-size: 1.55rem;
			line-height: 2.7rem;
			font-weight: 300;
			padding: 8rem 15px 5rem;
		    white-space: break-spaces;
	        color: #212529;
            pointer-events: none;
			.clutch{
			    display: inline-block;
			    position: relative;
			    pointer-events: none;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    color: #000;
    			font-weight: 700;
				.clutch-open{
					overflow: hidden;
					-webkit-transition: all .35s;
					transition: all .35s;
					height: 3px;
					background-color: #4aa751;
					z-index: -1;
					position: absolute;
					bottom: -1px;
					width: 100%;
				}
			}
		}
		.product-title{
			font-size: 34px;
    		line-height: 1.4;
		}
		.product-content{
			h4{
				color: #212529;
			    font-weight: normal;
			    font-size: 18px;
			    @media (max-width: 768px){
			    	font-size: 17px;
			    }
			}
		}
		.product-meta{
			.menu-details{
				.product-variant-name{
					font-style: normal;
					font-weight: 500;
					font-size: 22px;
					line-height: 33px;
					color: #212529;
					padding-bottom: 12px;
				    padding-right: 10px;
				}
				.price-row{ 
					align-items: baseline; 
				} 
				.product-price{ 
					font-size: 26px;
					line-height: 30px;
					letter-spacing: 0.02em;
					color: #000000;
					&.discount-price{ 
						padding-left: 8px; 
						color: #bdbdbd; 
						text-decoration: line-through; 
						font-weight: 400; 
						font-size:  22px; 
					} 
				}
			}
			.react-add-to-cart-container{
				> div{
					.border-green.bg-white{
					    display: flex;
					    align-items: center;
						@media (max-width: 767px){
						    width: 100%;
						}
					}
				}
			}
		}
		.product-image{
		    opacity: 0;
		    visibility: hidden;
		    transition: opacity 1s ease;
		    -webkit-transition: opacity 1s ease;
	       	height: 0vh;
	       	margin-bottom: 30px !important;
		    &.slick-initialized {
		        visibility: visible;
		        opacity: 1; 
		        height: auto;
		    }
		}
		.slick-list {
		    padding-left: 0px!important; // half partial
		}

		.aj-home-title{
		    font-size: 2.5rem;
			margin: auto;
			font-style: italic;
			text-transform: lowercase;
			font-family: Libre Baskerville,Baskerville,georgia,serif !important;
		}
		.btn-add-to-cart{
			font-size: 25px;
			font-weight: 600;
		    cursor: pointer;
		    &.btn-send{
		    	.fa-whatsapp{
		    		animation: none;
		    		-webkit-animation: none;
		    		padding-left: 18px;
		    	}
		    	&:before{
		    		background: #6BBDB3;
    				background: linear-gradient(-45deg, #045d53, #639d96, #6BBDB3, #2a8e82 75%);
				    background-size: 400% 400%;				
    			}
		    }
			@media (max-width: 767px){
				font-size: 20px;
			}
		}
		.coming-soon{
		    font-size: 20px;
		    margin: auto;
		    font-style: italic;
		    text-transform: lowercase;
		    padding-top: 30px;
		    padding-bottom: 30px;
		    font-weight: 600;
		    font-family: Libre Baskerville,Baskerville,georgia,serif !important;
		}
		.facebook{
			background-color: #ffffff;
			background-image: linear-gradient( to bottom,#464646, #cccccc, #ffffff );
    		margin: 0 15px;
		}
		.follow-instagram{
			padding: 0 15px 0;
		}
		.btn_Whatsapp{
			padding: 0 15px 20px;
			a{
				&:hover{
					text-decoration: none;
				}
			}
			@media (max-width: 991px){
				padding: 0 15px 0;
			}
		}
		.footer-section{
			padding: 2rem 0 3rem;
			.contact-details{
				a{
					font-size: 20.4px;
					&:hover{
						color: #4aa751;
					}
				}
				h4{
					font-size: 20.4px;
				}
				@media (min-width: 992px){
					margin: 25px 0;
				}
			}
		}
		@media (max-width: 768px){
			max-width: 100%;
		}
	}
}
.sold-out{
    text-align: center;
    white-space: nowrap;
	@media (min-width: 525px){
		width: 100px;
	}
}
.contentRight{
	position: fixed;
	left: 550px;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	.full-slider{
		height: 100%;
		.image{
			height: 100%;
		}
		img{
			width: 100%;
			height: auto;
			@media (max-width: 1600px) {
				height: 100%;
				object-fit: cover;
			}
		}
		.slick-list{
			height: 100%;
			.slick-track{
				height: 100%;
				.slick-slide {
					margin-left: 0;
				}
			}
		}
		.slick-dots{
			bottom: 40px;
			li{
				button{
					&::before{
						font-size: 18px;
						opacity: 0.45;
					}
				}
				&.slick-active{
					button{
						&::before{
							font-size: 18px;
							opacity: 0.85;
						}
					}
				}
			}
		}
	}

	.main-image{
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(https://greengrainbowl.com/wp-content/uploads/sites/14/2020/06/front_banner_2.jpg);
		height: 100%;
		&.main-child-2{
			background-image: url(https://greengrainbowl.com/wp-content/uploads/sites/14/2020/06/front_banner_1.jpg);
		}
	}
	@media (max-width: 768px){
		display: none;
	}
}

.custom-radio-btn{
	.sale-price{
		font-size: 17px;
	    font-weight: 500;
	}
	.mrp-price{
		color: #878787;
		text-decoration: line-through;
	    margin-left: 8px;
	}
}

/* Error Page styling **/

.mainbox {
	margin: auto;
	height: 600px;
	width: 600px;
	position: relative;
	.err {
		color: #4aa751;
		font-size: 11rem;
		@media (max-width: 768px){
			font-size: 6rem;
		}
	}
	.far {
		font-size: 8.5rem;
		color: #4aa751;
		@media (max-width: 767px){
	    	font-size: 5.5rem;
		}
	}
	.msg {
		text-align: center;
		font-size: 1.6rem;
		width: 75%;
		color: #212529;
		font-weight: bold;
		margin: auto;
		@media (max-width: 768px){
			margin: auto;
			width: 90%;
		}
	}
	.seperator-img{
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    margin-bottom: 50px;
	    @media (max-width: 768px){
	    	margin-bottom: 30px;
	    }
	}
	a.home-link{
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    color: #000;	
	    text-decoration: none;
		span.link-underline{
			overflow: hidden;
		    -webkit-transition: all .35s;
		    transition: all .35s;
		    height: 3px;
		    background-color: #4aa751;
		    z-index: -1;
		    position: absolute;
		    left: 0;
		    bottom: -1px;
		    width: 100%;
		}
		&:hover{
			text-decoration: none;
		}
	}
	@media (max-width: 768px){
		width: 100%;
	}
}


.spinner {
	margin: 15px auto 0;
	margin-top: 20px;
	width: 70px;
	text-align: center;
  }
  
  .spinner > div {
	width: 12px;
	height: 12px;
	background-color: #4aa74f;
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }

/* hide add to cart button */
#product-test{ 
  	> div{ 
  		a{ 
  			pointer-events: none !important; 
    		opacity: 0.6 !important; 
  		} 
  	} 
}
/*end of hide add to cart button */




.switch_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    label{
		font-size: 14px;
		color: #000;
		font-weight: 500;
		margin-bottom: 0;
		padding-left: 10px;
    }
}

/* Switch 1 Specific Styles Start */

input[type="checkbox"].switch{
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 1.5em;
    height: 0.8em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch:checked{
	background: #4aa751;
  }
  
  input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
    transform: scale(.7);
	right: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch:checked:after{
	right: calc(100% - 0.8em);
  }
	
/* Switch 1 Specific Style End */

/*Multiselect CSS */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 	100% !important;
}
.chosen-drop {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1010;
    width: 92.5%;
	border: 1px solid #4caf50;
	border-top: 0;
	background: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
}
.search-choice {
	.group-name {
		margin-right: 4px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: normal;
		color: #999999;
		&:after {
			content: ":";
			padding-left: 2px;
			vertical-align: top;
		}
	}
}
.chosen-container.chosen-with-drop {
	.chosen-drop {
		clip: auto;
		-webkit-clip-path: none;
		clip-path: none;
	}
}
.submit-choices{
    background: transparent;
    border: 1px solid #47a748;
    color: #000 !important;
    margin-right: 20px;
    padding: 0 15px;
}
.chosen-container-multi {
  	.chosen-choices {
	    position: relative;
	    overflow: hidden;
	    margin: 0;
	    padding: 0 5px;
    	/*width: 300px;*/
    	margin: 0 20px;
	    height: auto;
	    border: 1px solid #4caf50;
	    background-color: #fff;
	    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
	    background-image: linear-gradient(#eee 1%, #fff 15%);
	    cursor: text;
    	li {
			float: left;
			list-style: none;
    	}
    	li.search-field {
			margin: 0;
			padding: 0;
			white-space: nowrap;
			input[type="text"] {
				margin: 1px 0;
				padding: 0;
				height: 38px;
				outline: 0;
				border: 0 !important;
				background: transparent !important;
				-webkit-box-shadow: none;
				box-shadow: none;
				color: #999;
				font-size: 100%;
				font-family: sans-serif;
				line-height: normal;
				border-radius: 0;
				width: 25px;
			}
    	}
		li.search-choice {
			position: relative;
			margin: 6px 5px 6px 0;
			padding: 6px 28px 6px 12px;
			border: 1px solid #ececec;
			max-width: 100%;
			border-radius: 3px;
			background-color: #f1f3f4;
			background-repeat: repeat-x;
			color: #2a2a2b;
			line-height: 13px;
			cursor: pointer;
			font-size: 12px;
			font-weight: 500;
      		span {
    			word-wrap: break-word;
      		}
			.search-choice-close {
			    position: absolute;
			    top: 4px;
			    right: 3px;
			    display: block;
			    width: 0;
			    height: 0;
			    background: url(../images/spritesheet.png) -41px 0px no-repeat;
			    font-size: 1px;
			    background-position: -36px -10px;
			    background-color: transparent;
			    border-radius: 10px;
			    padding: 8px;
			}
    	}
    	li.search-choice-disabled {
			padding-right: 5px;
			border: 1px solid #4caf50;
			background-color: #e4e4e4;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
			background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
			color: #666;
		}
    	li.search-choice-focus {
      		background: #d4d4d4;
      		.search-choice-close {
        		background-position: -42px -10px;
      		}
    	}
  	}
	.chosen-results {
		margin: 0;
		padding: 0;
		li{
			border-bottom: 1px solid #eee;
		    padding: 10px 15px;
	        list-style-type: none;
		}
	}
	.chosen-drop {
		.result-selected {
			display: list-item;
			color: #ccc;
			cursor: default;
		}
	}
}
.chosen-container-active {
	.chosen-choices {
		border: 1px solid #4caf50;
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		li.search-field {
			input[type="text"] {
				color: #222 !important;
			}
		}
	}
}
.chosen-disabled {
  	opacity: 0.5 !important;
  	cursor: default;
  	.chosen-choices {
    	.search-choice {
			.search-choice-close {
        		cursor: default;
      		}
    	}
  	}
}
.chosen-rtl {
  	text-align: right;
	.chosen-choices {
	    li {
			float: right;
	    }
	    li.search-field {
	  		input[type="text"] {
	        	direction: rtl;
	      	}
	    }
	    li.search-choice {
	      	margin: 3px 5px 3px 0;
	      	padding: 3px 5px 3px 19px;
	      	.search-choice-close {
	        	right: auto;
	        	left: 4px;
	      	}
	    }
    }
}
.chosen-results {
	li.group-option {
		padding-right: 15px;
		padding-left: 0;
	}
}
.chosen-search {
    input[type="text"] {
      	padding: 4px 5px 4px 20px;
      	background: url("chosen-sprite.png") no-repeat -30px -20px;
      	direction: rtl;
    }
}